<h3>Add New Location</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="location.name" name="name">
    </div> 
     <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Location successfully saved!</h4>
  <label name="message"></label>
  <button class="btn btn-success" (click)="newLocation()">Add</button>
</div>
